<!DOCTYPE html>
<html>
  <head>
    <title>This should be replaced by whats in site.yml</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= @css %>
    <%= @js %>
  </head>

  <body>
    <div class="container">
      <h1>obelisk</h1>
      <%= @content %>
    </div>
  </body>
</html>
