<!DOCTYPE html>
<html>
  <head>
    <title>This should be replaced by whats in site.yml</title>
    <%= @css %>
    <%= @js %>
  </head>

  <body>
    <div class="container">
      <h1>obelisk</h1>
      <%= @content %>
    </div>
  </body>
</html>
